#lodu{
    background-color: brown;
    text-align: center;
    background-image: url(https://th.bing.com/th/id/OIP.4siKIW3oZ4kEo0vkEVQ5hgHaLH?rs=1&pid=ImgDetMain);
    height: 500px;
    width: 500px;
    
}